.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    line-height: $base-line-height;
    color: $text-color;

    /* Gaps between nav items, but not on the first one */
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @media screen and (width <= $on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    text-align: right;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    background-color: $background-color;

    .menu-icon {
      display: block;
      width: 36px;
      height: 26px;
      padding-top: 10px;
      float: right;
      line-height: 0;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;
      }
    }

    .trigger {
      display: none;
      clear: both;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}