@charset "utf-8";

/* Configuration and helpers */
@import "utilities/variables";
@import "utilities/functions";
@import "utilities/mixins";

/* Third-party */
@import "vendor/normalize";
@import "vendor/syntax-highlighting";

/* Base */
@import "base/reset";
@import "base/base";
@import "base/typography";

/* Layout sections */
@import "layout/header";
@import "layout/navigation";
@import "layout/content";
@import "layout/footer";

/* Components */
@import "components/post";