/* Reset some basic elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/* Set `margin-bottom` to maintain vertical rhythm */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  margin-bottom: calc($spacing-unit / 2);
}

/* Images */
img {
  vertical-align: middle;
  max-width: 100%;
  margin-bottom: 1.5em;
}

/* Figures */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/* Lists */
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

/* Links */
a {
  text-decoration: none;
  color: $brand-color;
  &:visited {
    color: color($brand-color shade(15%));
  }
  &:hover {
    text-decoration: underline;
    color: $text-color;
  }
}

/* Blockquotes */
blockquote {
  padding-left: calc($spacing-unit / 2);
  font-size: 18px;
  font-style: italic;
  letter-spacing: -1px;
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  >:last-child {
    margin-bottom: 0;
  }
}

/* Code formatting */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eee;
}

code {
  padding: 1px 5px;
}

pre {
  overflow-x: scroll;
  padding: 8px 12px;
  > code {
    padding-right: 0;
    padding-left: 0;
    border: 0;
  }
}

/* Wrapper */
.wrapper {
  max-width: calc(800px - ($spacing-unit * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (width <= $on-laptop) {
    max-width: calc(800px - ($spacing-unit));
    padding-right: calc($spacing-unit / 2);
    padding-left: calc($spacing-unit / 2);
  }
}

/* Icons */
.icon {
  > svg {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    path {
      fill: $grey-color;
    }
  }
}
