body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  text-size-adjust: 100%;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}